In [4]:
import pandas as pd
import clase_funciones_EDA
from clase_funciones_EDA import funciones_EDA

In [5]:
air = pd.read_csv('Air_Quality_20231023.csv')
air.head(2)

   Unique ID  Indicator ID        Name  ...  Start_Date Data Value Message
0     216498           386  Ozone (O3)  ...  06/01/2013      34.64     NaN
1     216499           386  Ozone (O3)  ...  06/01/2014      33.22     NaN

[2 rows x 12 columns]

In [ ]:
instancia =