In [4]:
import pandas as pd
import clase_funciones_EDA
from clase_funciones_EDA import funciones_EDA

In [5]:
air = pd.read_csv('Air_Quality_20231023.csv')
air.head(2)

   Unique ID  Indicator ID        Name  ...  Start_Date Data Value Message
0     216498           386  Ozone (O3)  ...  06/01/2013      34.64     NaN
1     216499           386  Ozone (O3)  ...  06/01/2014      33.22     NaN

[2 rows x 12 columns]

In [10]:
air.shape

(16122, 12)

In [6]:
instancia = funciones_EDA()

In [9]:
resultado = instancia._3_view_data_by_types(air)

NOMBRE COLUMNA:  Unique ID
                               0
Tipo Dato          <class 'int'>
Cant. Valores              16122
% en Columna              100.0%
Cant. Val. Únicos          16122
% de únicos               100.0%

Valores únicos: [216498 216499 219969 ... 671120 671121 671122]


-------------------------------------------------------------
NOMBRE COLUMNA:  Indicator ID
                               0
Tipo Dato          <class 'int'>
Cant. Valores              16122
% en Columna              100.0%
Cant. Val. Únicos             22
% de únicos                0.14%

Valores únicos: [386 383 639 640 641 642 646 647 648 650 651 643 652 653 655 657 659 661
 644 645 375 365]


-------------------------------------------------------------
NOMBRE COLUMNA:  Name
                               0
Tipo Dato          <class 'str'>
Cant. Valores              16122
% en Columna              100.0%
Cant. Val. Únicos             19
% de únicos                0.12%

Valores únicos: ['Ozone (O3)' 'Sulfur Dioxide (SO2)' 'PM2.5-Attributable Deaths'
 'Boiler Emissions- Total SO2 Emissions'
 'Boiler Emissions- Total PM2.5 Emissions'
 'Boiler Emissions- Total NOx Emissions'
 'Air Toxics Concentrations- Average Benzene Concentrations'
 'Air Toxics Concentrations- Average Formaldehyde Concentrations'
 'PM2.5-Attributable Asthma Emergency Department Visits'
 'PM2.5-Attributable Respiratory Hospitalizations (Adults 20 Yrs and Older)'
 'PM2.5-Attributable Cardiovascular Hospitalizations (Adults 40 Yrs and Older)'
 'Traffic Density- Annual Vehicle Miles Traveled'
 'O3-Attributable Cardiac and Respiratory Deaths'
 'O3-Attributable Asthma Emergency Department Visits'
 'O3-Attributable Asthma Hospitalizations'
 'Traffic Density- Annual Vehicle Miles Traveled for Cars'
 'Traffic Density- Annual Vehicle Miles Traveled for Trucks'
 'Nitrogen Dioxide (NO2)' 'Fine Particulate Matter (PM2.5)']


-------------------------------------------------------------
NOMBRE COLUMNA:  Measure
                               0
Tipo Dato          <class 'str'>
Cant. Valores              16122
% en Columna              100.0%
Cant. Val. Únicos              8
% de únicos                0.05%

Valores únicos: ['Mean' 'Estimated Annual Rate - Adults 30 Yrs and Older' 'Number per km2'
 'Annual Average Concentration'
 'Estimated Annual Rate- Children 0 to 17 Yrs Old' 'Estimated Annual Rate'
 'million miles' 'Estimated Annual Rate- 18 Yrs and Older']


-------------------------------------------------------------
NOMBRE COLUMNA:  Measure Info
                               0
Tipo Dato          <class 'str'>
Cant. Valores              16122
% en Columna              100.0%
Cant. Val. Únicos              8
% de únicos                0.05%

Valores únicos: ['ppb' 'per 100,000 adults' 'number' 'µg/m3' 'per 100,000 children'
 'per km2' 'per 100,000 residents' 'mcg per cubic meter']


-------------------------------------------------------------
NOMBRE COLUMNA:  Geo Type Name
                               0
Tipo Dato          <class 'str'>
Cant. Valores              16122
% en Columna              100.0%
Cant. Val. Únicos              5
% de únicos                0.03%

Valores únicos: ['CD' 'Borough' 'UHF42' 'Citywide' 'UHF34']


-------------------------------------------------------------
NOMBRE COLUMNA:  Geo Join ID
                               0
Tipo Dato          <class 'int'>
Cant. Valores              16122
% en Columna              100.0%
Cant. Val. Únicos             72
% de únicos                0.45%

Valores únicos: [      313         1       211       212         2       301       302
       303       304       305       306       307       308       206
       207       101       102       103       104       105       106
       107       201       202       203       204       205       208
       209       210       309       310       401       402       403
       404       405       406       407       408       409       410
       501       502       503       504         3         4         5
       311       108       109       110       111       112       312
       314       315       316       317       318       411       412
       413       414    305307    306308    309310    404406    501502
    503504 105106107]


-------------------------------------------------------------
NOMBRE COLUMNA:  Geo Place Name
                               0
Tipo Dato          <class 'str'>
Cant. Valores              16122
% en Columna              100.0%
Cant. Val. Únicos            114
% de únicos                0.71%

Valores únicos: ['Coney Island (CD13)' 'Bronx' 'Morris Park and Bronxdale (CD11)'
 'Williamsbridge and Baychester (CD12)' 'Brooklyn'
 'Greenpoint and Williamsburg (CD1)'
 'Fort Greene and Brooklyn Heights (CD2)' 'Bedford Stuyvesant (CD3)'
 'Bushwick (CD4)' 'East New York and Starrett City (CD5)'
 'Park Slope and Carroll Gardens (CD6)' 'Sunset Park (CD7)'
 'Crown Heights and Prospect Heights (CD8)'
 'Belmont and East Tremont (CD6)' 'Kingsbridge Heights and Bedford (CD7)'
 'Kingsbridge - Riverdale' 'Northeast Bronx' 'Fordham - Bronx Pk'
 'Pelham - Throgs Neck' 'Crotona -Tremont' 'High Bridge - Morrisania'
 'Hunts Point - Mott Haven' 'Greenpoint' 'Downtown - Heights - Slope'
 'Bedford Stuyvesant - Crown Heights' 'East New York' 'Sunset Park'
 'Borough Park' 'East Flatbush - Flatbush' 'Canarsie - Flatlands'
 'Bensonhurst - Bay Ridge' 'Coney Island - Sheepshead Bay'
 'Williamsburg - Bushwick' 'Washington Heights'
 'Central Harlem - Morningside Heights' 'East Harlem' 'Upper West Side'
 'Upper East Side' 'Chelsea - Clinton' 'Gramercy Park - Murray Hill'
 'Greenwich Village - SoHo' 'Union Square - Lower East Side'
 'Lower Manhattan' 'Long Island City - Astoria' 'West Queens'
 'Flushing - Clearview' 'Bayside - Little Neck' 'Ridgewood - Forest Hills'
 'Fresh Meadows' 'Riverdale and Fieldston (CD8)' 'Southwest Queens'
 'Jamaica' 'Southeast Queens' 'Rockaways' 'Port Richmond'
 'Stapleton - St. George' 'Willowbrook' 'South Beach - Tottenville'
 'New York City' 'Manhattan' 'Queens' 'Staten Island'
 'Parkchester and Soundview (CD9)' 'Bensonhurst (CD11)'
 'Throgs Neck and Co-op City (CD10)' 'Financial District (CD1)'
 'Greenwich Village and Soho (CD2)' 'Lower East Side and Chinatown (CD3)'
 'Clinton and Chelsea (CD4)' 'Midtown (CD5)'
 'Stuyvesant Town and Turtle Bay (CD6)' 'Upper West Side (CD7)'
 'Upper East Side (CD8)' 'Morningside Heights and Hamilton Heights (CD9)'
 'Central Harlem (CD10)' 'East Harlem (CD11)'
 'Washington Heights and Inwood (CD12)' 'Mott Haven and Melrose (CD1)'
 'Hunts Point and Longwood (CD2)' 'Morrisania and Crotona (CD3)'
 'Highbridge and Concourse (CD4)' 'Fordham and University Heights (CD5)'
 'South Crown Heights and Lefferts Gardens (CD9)'
 'Bay Ridge and Dyker Heights (CD10)' 'Borough Park (CD12)'
 'Flatbush and Midwood (CD14)' 'Sheepshead Bay (CD15)'
 'Brownsville (CD16)' 'East Flatbush (CD17)'
 'Flatlands and Canarsie (CD18)' 'Long Island City and Astoria (CD1)'
 'Woodside and Sunnyside (CD2)' 'Jackson Heights (CD3)'
 'Elmhurst and Corona (CD4)' 'Ridgewood and Maspeth (CD5)'
 'Rego Park and Forest Hills (CD6)' 'Flushing and Whitestone (CD7)'
 'Hillcrest and Fresh Meadows (CD8)' 'Kew Gardens and Woodhaven (CD9)'
 'South Ozone Park and Howard Beach (CD10)'
 'Bayside and Little Neck (CD11)' 'Jamaica and Hollis (CD12)'
 'Queens Village (CD13)' 'Rockaway and Broad Channel (CD14)'
 'St. George and Stapleton (CD1)' 'South Beach and Willowbrook (CD2)'
 'Tottenville and Great Kills (CD3)' 'Upper East Side-Gramercy'
 'Chelsea-Village' 'Union Square-Lower Manhattan'
 'Bayside Little Neck-Fresh Meadows' 'Northern SI' 'Southern SI'
 'South Bronx']


-------------------------------------------------------------
NOMBRE COLUMNA:  Time Period
                               0
Tipo Dato          <class 'str'>
Cant. Valores              16122
% en Columna              100.0%
Cant. Val. Únicos             45
% de únicos                0.28%

Valores únicos: ['Summer 2013' 'Summer 2014' 'Winter 2008-09' 'Summer 2009' 'Summer 2010'
 'Summer 2011' 'Summer 2012' 'Winter 2009-10' '2005-2007' '2013' '2005'
 '2009-2011' 'Winter 2010-11' 'Winter 2011-12' 'Winter 2012-13'
 'Annual Average 2009' 'Annual Average 2010' 'Annual Average 2011'
 'Annual Average 2012' 'Annual Average 2013' '2015' 'Winter 2013-14'
 'Annual Average 2014' '2011' 'Winter 2014-15' '2016'
 'Annual Average 2015' 'Summer 2015' 'Winter 2015-16' 'Summer 2016'
 'Annual Average 2016' 'Summer 2017' '2012-2014' 'Summer 2018'
 'Annual Average 2017' 'Summer 2019' 'Winter 2016-17'
 'Annual Average 2018' 'Winter 2017-18' '2015-2017' 'Summer 2020'
 'Annual Average 2019' 'Winter 2018-19' 'Annual Average 2020'
 'Winter 2019-20']


-------------------------------------------------------------
NOMBRE COLUMNA:  Start_Date
                               0
Tipo Dato          <class 'str'>
Cant. Valores              16122
% en Columna              100.0%
Cant. Val. Únicos             36
% de únicos                0.22%

Valores únicos: ['06/01/2013' '06/01/2014' '12/01/2008' '06/01/2009' '06/01/2010'
 '06/01/2011' '06/01/2012' '12/01/2009' '01/01/2005' '01/01/2013'
 '01/01/2009' '12/01/2010' '12/01/2011' '12/01/2012' '01/01/2015'
 '12/01/2013' '01/01/2011' '12/01/2014' '01/01/2016' '06/01/2015'
 '12/01/2015' '05/31/2016' '12/31/2015' '06/01/2017' '01/02/2012'
 '06/01/2018' '01/01/2017' '06/01/2019' '12/01/2016' '01/01/2018'
 '12/01/2017' '06/01/2020' '01/01/2019' '12/01/2018' '01/01/2020'
 '12/01/2019']


-------------------------------------------------------------
NOMBRE COLUMNA:  Data Value
                                 0
Tipo Dato          <class 'float'>
Cant. Valores                16122
% en Columna                100.0%
Cant. Val. Únicos             4086
% de únicos                 25.34%

Valores únicos: [34.64 33.22 31.25 ... 32.05 28.33 29.08]


-------------------------------------------------------------
NOMBRE COLUMNA:  Message
                                 0
Tipo Dato          <class 'float'>
Cant. Valores                16122
% en Columna                100.0%
Cant. Val. Únicos                1
% de únicos                  0.01%

Valores únicos: [nan]


-------------------------------------------------------------

In [12]:
resultado = instancia._5_view_unique_value_percent(air)

           Cantidad  Porcentaje (%)
Unique ID
216498            1            0.01
164882            1            0.01
130364            1            0.01
130363            1            0.01
130362            1            0.01
...             ...             ...
671117            1            0.01
671118            1            0.01
671119            1            0.01
671120            1            0.01
671122            1            0.01

[16122 rows x 2 columns]
-------------------------------------------------------------
              Cantidad  Porcentaje (%)
Indicator ID
365               5076           31.48
375               5076           31.48
386               1692           10.49
383               1128            7.00
644                214            1.33
643                209            1.30
645                209            1.30
655                192            1.19
648                192            1.19
650                192            1.19
651                192            1.19
652                192            1.19
657                192            1.19
659                192            1.19
661                192            1.19
639                192            1.19
653                192            1.19
647                155            0.96
646                155            0.96
641                 96            0.60
642                 96            0.60
640                 96            0.60
-------------------------------------------------------------
                                                    Cantidad  Porcentaje (%)
Name
Fine Particulate Matter (PM2.5)                         5076           31.48
Nitrogen Dioxide (NO2)                                  5076           31.48
Ozone (O3)                                              1692           10.49
Sulfur Dioxide (SO2)                                    1128            7.00
PM2.5-Attributable Asthma Emergency Department ...       384            2.38
O3-Attributable Asthma Emergency Department Visits       384            2.38
O3-Attributable Asthma Hospitalizations                  384            2.38
Traffic Density- Annual Vehicle Miles Traveled ...       214            1.33
Traffic Density- Annual Vehicle Miles Traveled ...       209            1.30
Traffic Density- Annual Vehicle Miles Traveled           209            1.30
PM2.5-Attributable Cardiovascular Hospitalizati...       192            1.19
O3-Attributable Cardiac and Respiratory Deaths           192            1.19
PM2.5-Attributable Deaths                                192            1.19
PM2.5-Attributable Respiratory Hospitalizations...       192            1.19
Air Toxics Concentrations- Average Benzene Conc...       155            0.96
Air Toxics Concentrations- Average Formaldehyde...       155            0.96
Boiler Emissions- Total SO2 Emissions                     96            0.60
Boiler Emissions- Total PM2.5 Emissions                   96            0.60
Boiler Emissions- Total NOx Emissions                     96            0.60
-------------------------------------------------------------
                                                 Cantidad  Porcentaje (%)
Measure
Mean                                                12972           80.46
million miles                                         632            3.92
Estimated Annual Rate- Children 0 to 17 Yrs Old       576            3.57
Estimated Annual Rate                                 576            3.57
Estimated Annual Rate- 18 Yrs and Older               576            3.57
Annual Average Concentration                          310            1.92
Number per km2                                        288            1.79
Estimated Annual Rate - Adults 30 Yrs and Older       192            1.19
-------------------------------------------------------------
                       Cantidad  Porcentaje (%)
Measure Info
ppb                        7896           48.98
mcg per cubic meter        5076           31.48
per 100,000 adults         1152            7.15
per km2                     632            3.92
per 100,000 children        576            3.57
µg/m3                       310            1.92
number                      288            1.79
per 100,000 residents       192            1.19
-------------------------------------------------------------
               Cantidad  Porcentaje (%)
Geo Type Name
UHF42              6216           38.56
CD                 5900           36.60
UHF34              3128           19.40
Borough             730            4.53
Citywide            148            0.92
-------------------------------------------------------------
             Cantidad  Porcentaje (%)
Geo Join ID
405               340            2.11
409               340            2.11
304               340            2.11
302               340            2.11
301               340            2.11
...               ...             ...
309310             92            0.57
404406             92            0.57
501502             92            0.57
503504             92            0.57
105106107          92            0.57

[72 rows x 2 columns]
-------------------------------------------------------------
                                   Cantidad  Porcentaje (%)
Geo Place Name
Long Island City - Astoria              240            1.49
Borough Park                            240            1.49
West Queens                             240            1.49
Sunset Park                             240            1.49
Upper West Side                         240            1.49
...                                     ...             ...
Union Square-Lower Manhattan             92            0.57
Bayside Little Neck-Fresh Meadows        92            0.57
Northern SI                              92            0.57
Southern SI                              92            0.57
South Bronx                              92            0.57

[114 rows x 2 columns]
-------------------------------------------------------------
                     Cantidad  Porcentaje (%)
Time Period
2012-2014                 480            2.98
2009-2011                 480            2.98
2015-2017                 480            2.98
2005-2007                 480            2.98
Summer 2013               423            2.62
Summer 2012               423            2.62
Summer 2010               423            2.62
Summer 2009               423            2.62
Winter 2008-09            423            2.62
Winter 2010-11            423            2.62
Winter 2011-12            423            2.62
Summer 2011               423            2.62
Winter 2009-10            423            2.62
Winter 2012-13            423            2.62
Summer 2020               423            2.62
Winter 2013-14            423            2.62
Summer 2014               423            2.62
Winter 2014-15            423            2.62
Summer 2019               423            2.62
Summer 2015               423            2.62
Winter 2015-16            423            2.62
Summer 2016               423            2.62
Summer 2017               423            2.62
Summer 2018               423            2.62
2005                      407            2.52
2016                      321            1.99
Winter 2019-20            282            1.75
Annual Average 2009       282            1.75
Annual Average 2010       282            1.75
Annual Average 2016       282            1.75
Annual Average 2011       282            1.75
Annual Average 2012       282            1.75
Annual Average 2013       282            1.75
Annual Average 2015       282            1.75
Annual Average 2020       282            1.75
Annual Average 2014       282            1.75
Annual Average 2019       282            1.75
Winter 2017-18            282            1.75
Annual Average 2018       282            1.75
Winter 2016-17            282            1.75
Winter 2018-19            282            1.75
Annual Average 2017       282            1.75
2011                      214            1.33
2015                      144            0.89
2013                      144            0.89
-------------------------------------------------------------
            Cantidad  Porcentaje (%)
Start_Date
01/01/2015       906            5.62
01/01/2005       887            5.50
12/01/2011       705            4.37
12/01/2008       705            4.37
12/01/2009       705            4.37
12/01/2010       705            4.37
12/01/2012       705            4.37
12/01/2013       705            4.37
01/01/2009       480            2.98
01/02/2012       480            2.98
06/01/2019       423            2.62
06/01/2017       423            2.62
06/01/2009       423            2.62
06/01/2010       423            2.62
06/01/2011       423            2.62
06/01/2012       423            2.62
06/01/2020       423            2.62
06/01/2013       423            2.62
06/01/2015       423            2.62
12/01/2015       423            2.62
05/31/2016       423            2.62
06/01/2018       423            2.62
12/01/2014       423            2.62
06/01/2014       423            2.62
01/01/2016       321            1.99
01/01/2019       282            1.75
12/01/2019       282            1.75
01/01/2020       282            1.75
12/01/2018       282            1.75
01/01/2017       282            1.75
12/01/2017       282            1.75
01/01/2018       282            1.75
12/01/2016       282            1.75
12/31/2015       282            1.75
01/01/2011       214            1.33
01/01/2013       144            0.89
-------------------------------------------------------------
            Cantidad  Porcentaje (%)
Data Value
2.80              36            0.22
2.00              35            0.22
2.10              35            0.22
2.30              33            0.20
0.00              30            0.19
...              ...             ...
15.08              1            0.01
72.00              1            0.01
17.71              1            0.01
354.20             1            0.01
29.08              1            0.01

[4086 rows x 2 columns]
-------------------------------------------------------------
Empty DataFrame
Columns: [Cantidad, Porcentaje (%)]
Index: []
-------------------------------------------------------------

LA COLUMNA MESSAGE DEBE ELIMINARSE NO APORTA NINGUN VALOR ESTA TOTALMENTE NULA

LAS 11 COLUMNAS RESTANTES APORTAN INFORMACION VALIOSA RESPECTO DE LA CANTIDAD DE EMISIONES DE VARIOS GASES NOCIVOS