In [2]:
import pandas as pd

In [4]:
class funciones_EDA:
    '''
    Autor: https://github.com/idaroga - Fecha: 16-sept-2023
    '''
    def __init__(self):
        # El método __init__ es el constructor de la clase
        pass

    def _1_view_df_info(self, df:pd.DataFrame):
        '''
        Obtener los tipos de datos, la cantidad por cada uno y el porcentaje de valores nulos para cada columna de un dataframe.
        Recibe como parámetro un dataframe.
        Autor: https://github.com/idaroga - Fecha: 16-sept-2023
        '''

        # Calcular el conteo duplicados por columna
        df_duplicados = df.apply(lambda col: col.duplicated().sum()).reset_index()     # duplicados por columna
        df_duplicados.rename(columns={"index": "Column", 0: "Duplicados"}, inplace=True) # renombrar columnas para union
        # df_merge = pd.merge(df_merge, df_3, on=columna_union, how='left')

        # Agregar columna con el conteo unicos por columna
        df_unicos = df.apply(lambda col: col.nunique()).reset_index()     # valores unicos por columna
        df_unicos.rename(columns={"index": "Column", 0: "Unicos"}, inplace=True) # renombrar columnas para union
        df_merge = pd.merge(df_duplicados, df_unicos, on="Column", how='left')

        # Agregar una columna con el conteno de nulos por columna
        df_nulos = df.isnull().sum()  # Hallamos los valores nulos y se almacenan en una serie
        df_nulos = df_nulos.reset_index()  # Convierte el índice en una columna
        df_nulos.columns = ['Column', 'Nulos']  # Asigna un nombre a la columna del índice si es necesario
        df_merge = pd.merge(df_merge, df_nulos, on="Column", how='left')

        # agregar columna de porcentaje nulos
        df_merge["%_nulos"] = round(df_merge["Nulos"] / df.shape[0] * 100, 2)  # Porcentaje total de registros nulos

        # Agregar columna con los tiposde datos y su conteo
        df_result = df.apply(lambda col: col.apply(type).value_counts())  # Aplicar la función a todas las columnas del DataFrame
        df_result = df_result.T.reset_index()  # Transponer el resultado y restablecer el índice
        df_result.columns = ["Column"] + df_result.columns[1:].tolist()  # Renombrar las columnas
        df_merge = pd.merge(df_merge, df_result, on="Column", how='left')

        print("total filas: ", df.shape[0])
        print("total columnas: ", df.shape[1])
        print("filas completamente nulas: ", df.isna().all(axis=1).sum())  # Filas que se encuentran totalmente en nulo
        print("filas totalmente duplicadas:", len(df[df.duplicated()]))
        print("-------------------------------------------------------------")

        # estadisticas generales
        print("\n", df.describe())
        print("-------------------------------------------------------------")

        return df_merge
    
    def _2_view_duplicates(self, df:pd.DataFrame, col:str, valor=""):
        '''
        Obtener los registros donde hay valores duplicados para una columna.
        Recibe como parámetro un dataframe, el nombre de una columna y si quiere el valor duplicado encontrado.
        Autor: https://github.com/idaroga - Fecha: 16-sept-2023
        '''
        valor = str(valor)
        if valor == "":
            filtro = df[df.duplicated(subset=[col], keep=False)]
        else:
            filtro = df[df[col].astype(str) == valor]
        return filtro
 
    def _3_view_data_by_types(self, df:pd.DataFrame, columna=""):
    
        '''
        Obtener el tipo de datos que maneja cada columna e imprimir los valores unicos de cada tipo.
        Recibe como parámetro un dataframe y si quiere una columna en particular.
        Autor: https://github.com/idaroga - Fecha: 16-sept-2023
        '''
        lista_columnas = df.columns.tolist()
        if columna == "":
            for indice in range (0, len(lista_columnas)):
                print("NOMBRE COLUMNA: ", df.columns[indice])
                self.__view_data__(df, df.columns[indice])
                print("-------------------------------------------------------------")
        else:
            indice = lista_columnas.index(columna)
            self.__view_data__(df, df.columns[indice])

    def _4_view_order_values(self, df:pd.DataFrame, col:str):
        '''
        Retornar una lista de valores únicos de tipo str de una columna ordenados alfabéticamente.
        Se utiliza para revisar la sintaxis, estructura y formato de los datos de una columna.
        Recibe como parámetro un dataframe y el nombre de la columna.
        Autor: https://github.com/idaroga - Fecha: 16-sept-2023
        '''
        # Obtener los valores únicos de la columna
        valores_unicos = df[col].unique()

        # Filtrar y ordenar alfabéticamente los valores únicos de tipo str
        valores_str_ordenados = sorted([valor for valor in valores_unicos if isinstance(valor, str)])

        return valores_str_ordenados

    def _5_view_unique_value_percent(self, df:pd.DataFrame, columna=""):
        '''
        Obtener el porcentaje que representa cada valor unico en una columna.
        Recibe como parámetro un dataframe y si quiere una columna en particular.
        Autor: https://github.com/idaroga - Fecha: 16-sept-2023
        '''
        if columna == "":
            lista_de_columnas = df.columns.tolist()
            for col in lista_de_columnas:
                columna = df[col]

                # Porcentaje que representa cada valor dato respecto a toda la columna
                conteo_datos = columna.value_counts()
                total_datos = len(columna)
                porcentaje_victimas = round((conteo_datos / total_datos) * 100, 2)

                # Combina los resultados en un nuevo DataFrame
                resultados = pd.DataFrame({"Cantidad": conteo_datos, "Porcentaje (%)": porcentaje_victimas})
                
                # y deseas ordenarlo de manera descendente según la columna "Cantidad"
                resultados = resultados.sort_values(by="Cantidad", ascending=False)

                print(resultados)
                print("-------------------------------------------------------------")
        else:
            columna = df[columna]

            # Porcentaje que representa cada valor dato respecto a toda la columna
            conteo_datos = columna.value_counts()
            total_datos = len(columna)
            porcentaje_victimas = round((conteo_datos / total_datos) * 100, 2)

            # Combina los resultados en un nuevo DataFrame
            resultados = pd.DataFrame({"Cantidad": conteo_datos, "Porcentaje (%)": porcentaje_victimas})
            
            # y deseas ordenarlo de manera descendente según la columna "Cantidad"
            resultados = resultados.sort_values(by="Cantidad", ascending=False)

            print(resultados)

    def __view_data__(self, df:pd.DataFrame, col:str):    
        '''
        Obtener el tipo de datos que maneja una columna e imprimir los valores unicos de cada tipo.
        Recibe como parámetro un dataframe y el nombre de la columna.
        Autor: https://github.com/idaroga - Fecha: 16-sept-2023
        '''
        columna = df[col]
        # Crear una lista para almacenar los resultados
        tipos_de_datos = columna.apply(type).unique()

        for tipo in tipos_de_datos:
            resultados = []
            filtro = columna.apply(lambda x: isinstance(x, tipo))
            total_valores = filtro.sum()
            valores_unicos = columna[filtro].unique()
            porcentaje_col = str(round(total_valores / len(columna) * 100, 2)) + "%"
            porcentaje_tipo = str(round(len(valores_unicos) / total_valores * 100, 2)) + "%"

            # Agregar los resultados a la lista
            resultados.append([tipo, total_valores, porcentaje_col, len(valores_unicos), porcentaje_tipo])

            # Crear un DataFrame con los resultados
            resultado_df = pd.DataFrame(resultados, columns=['Tipo Dato', 'Cant. Valores', '% en Columna', 'Cant. Val. Únicos', '% de únicos'])

            print(resultado_df.T)
            print()
            print(f'Valores únicos: {valores_unicos}')
            print('\n')

In [5]:
# Reemplaza 'Alternative fuel Vehicles US.csv' con la ubicación real de tu archivo CSV.
ruta_archivo = 'ElectricCarData_Norm.csv'

# Cargar el archivo CSV en un DataFrame
df_Elec_Car = pd.read_csv(ruta_archivo)

Verificamos las columnas para seleccionar la información relevante de acuerdo al alcance del Proyecto

In [7]:
# Nombre de las columnas
print(df_Elec_Car.columns)

Index(['Brand', 'Model', 'Accel', 'TopSpeed', 'Range', 'Efficiency',
       'FastCharge', 'RapidCharge', 'PowerTrain', 'PlugType', 'BodyStyle',
       'Segment', 'Seats', 'PriceEuro'],
      dtype='object')

Información de Carros eléctricos bastante depurada, sin outliers, ni NaN, ni campos vacios, sin embargo hay información que no es necesaria para el alcance del proyecto, la siguiente es la que se considera relevante:

Efficiency (Eficiencia): La eficiencia es crucial para maximizar el rango de conducción por carga, lo que puede ayudar a reducir costos operativos y aumentar la productividad del taxi.

Range (Autonomía): Una mayor autonomía permite que el taxi eléctrico pueda realizar más viajes antes de necesitar recargarse, lo que es esencial en una ciudad como Nueva York, donde los taxis pueden estar en servicio continuamente.

FastCharge (Carga Rápida): La capacidad de carga rápida es importante para minimizar el tiempo de inactividad del taxi durante la recarga, lo que es crítico para mantener la operación eficiente.

Price (Precio): El precio del vehículo eléctrico es una consideración importante para los propietarios de flotas de taxis, ya que afecta directamente a la inversión inicial.

Brand y Model (Marca y Modelo): La reputación de la marca y el modelo del vehículo puede influir en la percepción de los clientes y la confiabilidad del vehículo y adicionalmente en el mantenimiento y respaldo en repuestos.

In [8]:
eda = funciones_EDA()
info_df = eda._1_view_df_info(df_Elec_Car)
duplicates = eda._2_view_duplicates(df_Elec_Car, "Brand")
eda._3_view_data_by_types(df_Elec_Car)
unique_values = eda._4_view_order_values(df_Elec_Car, "Brand")
percentages = eda._5_view_unique_value_percent(df_Elec_Car, "Brand")

total filas:  103
total columnas:  14
filas completamente nulas:  0
filas totalmente duplicadas: 0
-------------------------------------------------------------

             Seats      PriceEuro
count  103.000000     103.000000
mean     4.883495   55811.563107
std      0.795834   34134.665280
min      2.000000   20129.000000
25%      5.000000   34429.500000
50%      5.000000   45000.000000
75%      5.000000   65000.000000
max      7.000000  215000.000000
-------------------------------------------------------------
NOMBRE COLUMNA:  Brand
                               0
Tipo Dato          <class 'str'>
Cant. Valores                103
% en Columna              100.0%
Cant. Val. Únicos             33
% de únicos               32.04%

Valores únicos: ['Tesla ' 'Volkswagen ' 'Polestar ' 'BMW ' 'Honda ' 'Lucid ' 'Peugeot '
 'Audi ' 'Mercedes ' 'Nissan ' 'Hyundai ' 'Porsche ' 'MG ' 'Mini ' 'Opel '
 'Skoda ' 'Volvo ' 'Kia ' 'Renault ' 'Mazda ' 'Lexus ' 'CUPRA ' 'SEAT '
 'Lightyear ' 'Aiways ' 'DS ' 'Citroen ' 'Jaguar ' 'Ford ' 'Byton '
 'Sono ' 'Smart ' 'Fiat ']


-------------------------------------------------------------
NOMBRE COLUMNA:  Model
                               0
Tipo Dato          <class 'str'>
Cant. Valores                103
% en Columna              100.0%
Cant. Val. Únicos            102
% de únicos               99.03%

Valores únicos: ['Model 3 Long Range Dual Motor' 'ID.3 Pure' '2' 'iX3 ' 'e ' 'Air '
 'e-Golf ' 'e-208 ' 'Model 3 Standard Range Plus' 'Q4 e-tron '
 'EQC 400 4MATIC' 'Leaf ' 'Kona Electric 64 kWh' 'i4 ' 'IONIQ Electric'
 'ID.3 Pro S' 'Taycan Turbo S' 'e-Up! ' 'ZS EV' 'Cooper SE ' 'Corsa-e '
 'Model Y Long Range Dual Motor' 'Enyaq iV 50' 'e-tron GT '
 'Model 3 Long Range Performance' 'ID.4 ' 'ID.3 Pro'
 'XC40 P8 AWD Recharge' 'i3 120 Ah' 'e-2008 SUV ' 'e-tron 50 quattro'
 'e-Niro 64 kWh' 'Zoe ZE50 R110' 'Cybertruck Tri Motor' 'MX-30 ' 'Leaf e+'
 'UX 300e' 'el-Born ' 'Zoe ZE50 R135' 'EQA ' 'Model S Long Range'
 'Kona Electric 39 kWh' 'e-tron Sportback 55 quattro' 'CITIGOe iV '
 'Mii Electric ' 'e-Soul 64 kWh' 'Ampera-e ' 'Taycan 4S' 'One ' 'U5 '
 'e-tron 55 quattro' 'Roadster ' 'Mokka-e ' 'Enyaq iV 80'
 'Model X Long Range' 'e Advance' '3 Crossback E-Tense' 'Twingo ZE'
 'e-C4 ' 'Model S Performance' 'Zoe ZE40 R110'
 'Model Y Long Range Performance' 'Ariya 87kWh' 'I-Pace '
 'Mustang Mach-E ER RWD' 'Taycan 4S Plus' 'e-NV200 Evalia '
 'Cybertruck Dual Motor' 'Kangoo Maxi ZE 33' 'Mustang Mach-E ER AWD'
 'i3s 120 Ah' 'Enyaq iV 80X' 'Taycan Cross Turismo ' 'M-Byte 95 kWh 4WD'
 'Sion ' 'e-Niro 39 kWh' 'Q4 Sportback e-tron ' 'EQ forfour '
 'Mustang Mach-E SR AWD' 'Taycan Turbo' 'ID.3 1st' 'Model X Performance'
 'EQ fortwo coupe' 'Mustang Mach-E SR RWD' 'EQV 300 Long' '500e Hatchback'
 'Cybertruck Single Motor' 'e-tron Sportback 50 quattro' 'Enyaq iV vRS'
 'Enyaq iV 60' 'e-tron S 55 quattro' 'EQ fortwo cabrio'
 'Ariya e-4ORCE 87kWh' '500e Convertible' 'ID.3 Pro Performance'
 'e-Soul 39 kWh' 'M-Byte 72 kWh 2WD' 'Ariya 63kWh'
 'e-tron S Sportback 55 quattro' 'Ariya e-4ORCE 63kWh'
 'Ariya e-4ORCE 87kWh Performance' 'M-Byte 95 kWh 2WD']


-------------------------------------------------------------
NOMBRE COLUMNA:  Accel
                               0
Tipo Dato          <class 'str'>
Cant. Valores                103
% en Columna              100.0%
Cant. Val. Únicos             55
% de únicos                53.4%

Valores únicos: ['4.6 sec' '10.0 sec' '4.7 sec' '6.8 sec' '9.5 sec' '2.8 sec' '9.6 sec'
 '8.1 sec' '5.6 sec' '6.3 sec' '5.1 sec' '7.9 sec' '4.0 sec' '9.7 sec'
 '11.9 sec' '8.2 sec' '7.3 sec' '3.5 sec' '3.4 sec' '7.5 sec' '9.0 sec'
 '4.9 sec' '8.5 sec' '7.8 sec' '11.4 sec' '3.0 sec' '6.5 sec' '5.0 sec'
 '3.8 sec' '9.9 sec' '5.7 sec' '12.3 sec' '2.1 sec' '8.8 sec' '8.3 sec'
 '8.7 sec' '12.6 sec' '2.5 sec' '3.7 sec' '7.6 sec' '4.8 sec' '7.0 sec'
 '14.0 sec' '22.4 sec' '6.0 sec' '6.9 sec' '5.5 sec' '9.8 sec' '12.7 sec'
 '3.2 sec' '11.6 sec' '6.6 sec' '6.2 sec' '4.5 sec' '5.9 sec']


-------------------------------------------------------------
NOMBRE COLUMNA:  TopSpeed
                               0
Tipo Dato          <class 'str'>
Cant. Valores                103
% en Columna              100.0%
Cant. Val. Únicos             25
% de únicos               24.27%

Valores únicos: ['233 km/h' '160 km/h' '210 km/h' '180 km/h' '145 km/h' '250 km/h'
 '150 km/h' '225 km/h' '144 km/h' '167 km/h' '200 km/h' '165 km/h'
 '260 km/h' '130 km/h' '140 km/h' '217 km/h' '240 km/h' '261 km/h'
 '190 km/h' '135 km/h' '157 km/h' '155 km/h' '410 km/h' '241 km/h'
 '123 km/h']


-------------------------------------------------------------
NOMBRE COLUMNA:  Range
                               0
Tipo Dato          <class 'str'>
Cant. Valores                103
% en Columna              100.0%
Cant. Val. Únicos             50
% de únicos               48.54%

Valores únicos: ['450 km' '270 km' '400 km' '360 km' '170 km' '610 km' '190 km' '275 km'
 '310 km' '370 km' '220 km' '250 km' '440 km' '375 km' '195 km' '185 km'
 '425 km' '290 km' '435 km' '420 km' '350 km' '235 km' '280 km' '315 km'
 '750 km' '180 km' '325 km' '515 km' '255 km' '380 km' '365 km' '335 km'
 '575 km' '970 km' '130 km' '505 km' '410 km' '460 km' '160 km' '430 km'
 '230 km' '385 km' '390 km' '225 km' '95 km' '340 km' '100 km' '330 km'
 '295 km' '320 km']


-------------------------------------------------------------
NOMBRE COLUMNA:  Efficiency
                               0
Tipo Dato          <class 'str'>
Cant. Valores                103
% en Columna              100.0%
Cant. Val. Únicos             54
% de únicos               52.43%

Valores únicos: ['161 Wh/km' '167 Wh/km' '181 Wh/km' '206 Wh/km' '168 Wh/km' '180 Wh/km'
 '164 Wh/km' '153 Wh/km' '193 Wh/km' '216 Wh/km' '160 Wh/km' '178 Wh/km'
 '175 Wh/km' '223 Wh/km' '166 Wh/km' '156 Wh/km' '171 Wh/km' '179 Wh/km'
 '197 Wh/km' '183 Wh/km' '200 Wh/km' '231 Wh/km' '173 Wh/km' '165 Wh/km'
 '267 Wh/km' '172 Wh/km' '184 Wh/km' '154 Wh/km' '228 Wh/km' '195 Wh/km'
 '104 Wh/km' '188 Wh/km' '237 Wh/km' '176 Wh/km' '211 Wh/km' '177 Wh/km'
 '198 Wh/km' '232 Wh/km' '261 Wh/km' '194 Wh/km' '209 Wh/km' '217 Wh/km'
 '244 Wh/km' '215 Wh/km' '273 Wh/km' '256 Wh/km' '219 Wh/km' '270 Wh/km'
 '207 Wh/km' '170 Wh/km' '222 Wh/km' '191 Wh/km' '258 Wh/km' '238 Wh/km']


-------------------------------------------------------------
NOMBRE COLUMNA:  FastCharge
                               0
Tipo Dato          <class 'str'>
Cant. Valores                103
% en Columna              100.0%
Cant. Val. Únicos             51
% de únicos               49.51%

Valores únicos: ['940 km/h' '250 km/h' '620 km/h' '560 km/h' '190 km/h' '220 km/h'
 '420 km/h' '650 km/h' '540 km/h' '440 km/h' '230 km/h' '380 km/h'
 '210 km/h' '590 km/h' '780 km/h' '170 km/h' '260 km/h' '930 km/h'
 '850 km/h' '910 km/h' '490 km/h' '470 km/h' '270 km/h' '450 km/h'
 '350 km/h' '710 km/h' '240 km/h' '390 km/h' '570 km/h' '610 km/h'
 '340 km/h' '730 km/h' '920 km/h' '-' '550 km/h' '900 km/h' '520 km/h'
 '430 km/h' '890 km/h' '410 km/h' '770 km/h' '460 km/h' '360 km/h'
 '810 km/h' '480 km/h' '290 km/h' '330 km/h' '740 km/h' '510 km/h'
 '320 km/h' '500 km/h']


-------------------------------------------------------------
NOMBRE COLUMNA:  RapidCharge
                               0
Tipo Dato          <class 'str'>
Cant. Valores                103
% en Columna              100.0%
Cant. Val. Únicos              2
% de únicos                1.94%

Valores únicos: ['Rapid charging possible' 'Rapid charging not possible']


-------------------------------------------------------------
NOMBRE COLUMNA:  PowerTrain
                               0
Tipo Dato          <class 'str'>
Cant. Valores                103
% en Columna              100.0%
Cant. Val. Únicos              3
% de únicos                2.91%

Valores únicos: ['All Wheel Drive' 'Rear Wheel Drive' 'Front Wheel Drive']


-------------------------------------------------------------
NOMBRE COLUMNA:  PlugType
                               0
Tipo Dato          <class 'str'>
Cant. Valores                103
% en Columna              100.0%
Cant. Val. Únicos              4
% de únicos                3.88%

Valores únicos: ['Type 2 CCS' 'Type 2 CHAdeMO' 'Type 2' 'Type 1 CHAdeMO']


-------------------------------------------------------------
NOMBRE COLUMNA:  BodyStyle
                               0
Tipo Dato          <class 'str'>
Cant. Valores                103
% en Columna              100.0%
Cant. Val. Únicos              9
% de únicos                8.74%

Valores únicos: ['Sedan' 'Hatchback' 'Liftback' 'SUV' 'Pickup' 'MPV' 'Cabrio' 'SPV'
 'Station']


-------------------------------------------------------------
NOMBRE COLUMNA:  Segment
                               0
Tipo Dato          <class 'str'>
Cant. Valores                103
% en Columna              100.0%
Cant. Val. Únicos              8
% de únicos                7.77%

Valores únicos: ['D' 'C' 'B' 'F' 'A' 'E' 'N' 'S']


-------------------------------------------------------------
NOMBRE COLUMNA:  Seats
                               0
Tipo Dato          <class 'int'>
Cant. Valores                103
% en Columna              100.0%
Cant. Val. Únicos              5
% de únicos                4.85%

Valores únicos: [5 4 7 6 2]


-------------------------------------------------------------
NOMBRE COLUMNA:  PriceEuro
                               0
Tipo Dato          <class 'int'>
Cant. Valores                103
% en Columna              100.0%
Cant. Val. Únicos             87
% de únicos               84.47%

Valores únicos: [ 55480  30000  56440  68040  32997 105000  31900  29682  46380  55000
  69484  29234  40795  65000  34459  40936 180781  21421  31681  29146
  58620  35000 125000  61480  45000  33000  60437  38017  34361  67358
  38105  31184  75000  32646  37237  50000  33133  79990  33971  81639
  24534  20129  36837  41906 102945 149000  36057  79445 215000  40000
  85990  35921  37422  24790  96990  65620  75351  54475 109302  33246
  38000  62900  41526 150000  64000  25500  34400  57500  22030  54000
 148301  38987 102990  21387  46900  70631  34900  69551  47500  37500
  93800  24565  37900  35575  53500  96050  62000]


-------------------------------------------------------------
             Cantidad  Porcentaje (%)
Brand
Tesla              13           12.62
Audi                9            8.74
Nissan              8            7.77
Volkswagen          8            7.77
Skoda               6            5.83
Renault             5            4.85
Porsche             5            4.85
Kia                 5            4.85
BMW                 4            3.88
Ford                4            3.88
Smart               3            2.91
Byton               3            2.91
Mercedes            3            2.91
Hyundai             3            2.91
Opel                3            2.91
Honda               2            1.94
Peugeot             2            1.94
Fiat                2            1.94
Mini                1            0.97
DS                  1            0.97
Polestar            1            0.97
Sono                1            0.97
Lucid               1            0.97
Jaguar              1            0.97
Citroen             1            0.97
Aiways              1            0.97
MG                  1            0.97
Lightyear           1            0.97
SEAT                1            0.97
CUPRA               1            0.97
Lexus               1            0.97
Mazda               1            0.97
Volvo               1            0.97

TOP 5 DE LOS CARROS MAS ECONÓMICOS, SIN EMBARGO SU RANGE NO ES EL OPTIMO DADO QUE EL PROMEDIO DE KILOMETRAJE POR DIA EN NYC ES DE 200 A 300 KILOMETROS

POR TAL RAZÓN ES MEJOR UN CARRO DE MAYOR RANGE Y MEJOR RESPALDO

In [9]:
# Configurar pandas para mostrar todas las columnas
pd.set_option('display.max_columns', None)

# Ordenar el DataFrame df_Elec_Car por la columna "PriceEuro" de menor a mayor
df_Elec_Car = df_Elec_Car.sort_values(by="PriceEuro")

# Mostrar el DataFrame ordenado
print(df_Elec_Car.head(5))

          Brand            Model     Accel  TopSpeed   Range Efficiency
44        SEAT     Mii Electric   12.3 sec  130 km/h  195 km  166 Wh/km  \
82       Smart   EQ fortwo coupe  11.6 sec  130 km/h  100 km  167 Wh/km
17  Volkswagen            e-Up!   11.9 sec  130 km/h  195 km  166 Wh/km
77       Smart       EQ forfour   12.7 sec  130 km/h   95 km  176 Wh/km
43       Skoda       CITIGOe iV   12.3 sec  130 km/h  195 km  166 Wh/km

   FastCharge                  RapidCharge         PowerTrain    PlugType
44   170 km/h      Rapid charging possible  Front Wheel Drive  Type 2 CCS  \
82          -  Rapid charging not possible   Rear Wheel Drive      Type 2
17   170 km/h      Rapid charging possible  Front Wheel Drive  Type 2 CCS
77          -  Rapid charging not possible   Rear Wheel Drive      Type 2
43   170 km/h      Rapid charging possible  Front Wheel Drive  Type 2 CCS

    BodyStyle Segment  Seats  PriceEuro
44  Hatchback       A      4      20129
82  Hatchback       A      2      21387
17  Hatchback       A      4      21421
77  Hatchback       A      4      22030
43  Hatchback       A      4      24534

In [10]:
# Vehiculos tipo Sedan valor menor a 60000, dado que son los taxis
# mas tradicionales en NYC

# Valor de referencia y Sedan
valor_referencia = 60000

# Filtrar y ordenar las filas con "PriceEuro" menores al valor de referencia y "BodyStyle" igual a "Hatchback"
df_ordenado = df_Elec_Car[(df_Elec_Car["PriceEuro"] < valor_referencia) & (df_Elec_Car["BodyStyle"] == "Sedan")].sort_values(by="PriceEuro", ascending=False)

# Mostrar el DataFrame ordenado
print(df_ordenado.head(10))

    Brand                          Model    Accel  TopSpeed   Range
0  Tesla   Model 3 Long Range Dual Motor  4.6 sec  233 km/h  450 km  \
8  Tesla     Model 3 Standard Range Plus  5.6 sec  225 km/h  310 km

  Efficiency FastCharge              RapidCharge        PowerTrain
0  161 Wh/km   940 km/h  Rapid charging possible   All Wheel Drive  \
8  153 Wh/km   650 km/h  Rapid charging possible  Rear Wheel Drive

     PlugType BodyStyle Segment  Seats  PriceEuro
0  Type 2 CCS     Sedan       D      5      55480
8  Type 2 CCS     Sedan       D      5      46380

In [11]:
# Vehiculos tipo Sedan valor menor a 35000, dado que son los 
# mas versatiles y economicos para una ciudad como NYC

# Valor de referencia Y Hatchback
valor_referencia = 35000

# Filtrar y ordenar las filas con "PriceEuro" menores al valor de referencia y "BodyStyle" igual a "Hatchback"
df_ordenado = df_Elec_Car[(df_Elec_Car["PriceEuro"] < valor_referencia) & (df_Elec_Car["BodyStyle"] == "Hatchback")].sort_values(by="PriceEuro", ascending=False)

# Mostrar el DataFrame ordenado
print(df_ordenado.head(5))

          Brand           Model    Accel  TopSpeed   Range Efficiency
85        Fiat   500e Hatchback  9.0 sec  150 km/h  250 km  168 Wh/km  \
38     Renault    Zoe ZE50 R135  9.5 sec  140 km/h  310 km  168 Wh/km
26  Volkswagen         ID.3 Pro  9.0 sec  160 km/h  350 km  166 Wh/km
4        Honda               e   9.5 sec  145 km/h  170 km  168 Wh/km
6   Volkswagen          e-Golf   9.6 sec  150 km/h  190 km  168 Wh/km

   FastCharge              RapidCharge         PowerTrain    PlugType
85   330 km/h  Rapid charging possible  Front Wheel Drive  Type 2 CCS  \
38   230 km/h  Rapid charging possible  Front Wheel Drive  Type 2 CCS
26   490 km/h  Rapid charging possible   Rear Wheel Drive  Type 2 CCS
4    190 km/h  Rapid charging possible   Rear Wheel Drive  Type 2 CCS
6    220 km/h  Rapid charging possible  Front Wheel Drive  Type 2 CCS

    BodyStyle Segment  Seats  PriceEuro
85  Hatchback       B      4      34900
38  Hatchback       B      5      33133
26  Hatchback       C      5      33000
4   Hatchback       B      4      32997
6   Hatchback       C      5      31900

COLUMNAS A ELIMINAR DADO QUE NO HACEN PARTE DEL ALCANCE DEL PROYECTO

SE GUARDA LA INFORMACION SELECCIONADA EN EL ARCHIVO carros_electricos.csv

In [12]:
columns_to_drop = ["Accel", "TopSpeed", "RapidCharge", "PowerTrain","PlugType","Segment","Seats"]
df_Elec_Car = df_Elec_Car.drop(columns=columns_to_drop)

# Guardar el DataFrame en un archivo CSV
df_Elec_Car.to_csv("carros_electricos_limpio.csv", index=False)