In [29]:
import pandas as pd
import clase_funciones_EDA
from clase_funciones_EDA import funciones_EDA

In [30]:
tax = pd.read_csv('taxi+_zone_lookup.csv')
tax.head(2)

   LocationID Borough            Zone service_zone
0           1     EWR  Newark Airport          EWR
1           2  Queens     Jamaica Bay    Boro Zone

In [31]:
tax.shape

(265, 4)

In [38]:
tax.isnull().sum()

LocationID      0
Borough         0
Zone            1
service_zone    2
dtype: int64

In [40]:
tax.duplicated().sum()

0

In [41]:
tax

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

ESTE CONJUNTO DE DATOS NO APORTA INFORMACION PARA EL PROYECTO SE DESESTIMA