In [1]:
import pandas as pd

In [2]:
taxi = pd.read_csv('Taxi/taxi+_zone_lookup.csv')
taxi

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [4]:
taxi = taxi.rename(columns={'LocationID': 'PULocationID', 'Borough': 'PUBorough', 'Zone': 'PUZone'})

In [24]:
enero = pd.read_parquet('Taxi/yellow_tripdata_2023-01.parquet')
enero.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3066766 entries, 0 to 3066765
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: datetime64[ns](2), float64(12), int64(4), object(1)
memory usage: 444.6+ MB

In [25]:
enero = pd.merge(enero, taxi, on='PULocationID')

In [26]:
enero.drop(['VendorID','passenger_count','RatecodeID','store_and_fwd_flag','PULocationID','DOLocationID','payment_type','extra',
            'mta_tax','tip_amount','tolls_amount','improvement_surcharge','congestion_surcharge','airport_fee','total_amount'], axis=1, inplace=True)

In [19]:
conteo_enero = enero['PUBorough'].value_counts()

In [27]:
borough_dataframes = {}
for borough, group in enero.groupby('PUBorough'):
    borough_dataframes[borough] = group

# Acceder a los DataFrames individuales
manhattan_df = borough_dataframes['Manhattan']
brooklyn_df = borough_dataframes['Brooklyn']
queens_df = borough_dataframes['Queens']
bronx_df = borough_dataframes['Bronx']
staten_island_df = borough_dataframes['Staten Island']

In [28]:
enero_manhattan01 = manhattan_df.sample(frac=0.01, random_state=42)
enero_brooklin01 = brooklyn_df.sample(frac=0.01, random_state=42)
enero_queens01 = queens_df.sample(frac=0.01, random_state=42)
enero_bronx01 = bronx_df.sample(frac=0.01, random_state=42)
enero_stand01 = staten_island_df.sample(frac=0.01, random_state=42)

In [29]:
enero_borough = pd.concat([enero_manhattan01, enero_brooklin01, enero_queens01, enero_bronx01, enero_stand01], ignore_index=True)

In [41]:
enero_borough.to_csv('enero.csv')

In [31]:
febrero = pd.read_parquet('Taxi/yellow_tripdata_2023-02.parquet')

In [32]:
febrero = pd.merge(febrero, taxi, on='PULocationID')

In [35]:
febrero.drop(['VendorID','passenger_count','RatecodeID','store_and_fwd_flag','PULocationID','DOLocationID','payment_type','extra',
            'mta_tax','tip_amount','tolls_amount','improvement_surcharge','congestion_surcharge','Airport_fee','total_amount'], axis=1, inplace=True)

In [37]:
borough_dataframes = {}
for borough, group in febrero.groupby('PUBorough'):
    borough_dataframes[borough] = group

# Acceder a los DataFrames individuales
manhattan_feb = borough_dataframes['Manhattan']
brooklyn_feb = borough_dataframes['Brooklyn']
queens_feb = borough_dataframes['Queens']
bronx_feb = borough_dataframes['Bronx']
staten_island_feb = borough_dataframes['Staten Island']

In [38]:
febrero_manhattan01 = manhattan_feb.sample(frac=0.01, random_state=42)
febrero_brooklin01 = brooklyn_feb.sample(frac=0.01, random_state=42)
febrero_queens01 = queens_feb.sample(frac=0.01, random_state=42)
febrero_bronx01 = bronx_feb.sample(frac=0.01, random_state=42)
febrero_stand01 = staten_island_feb.sample(frac=0.01, random_state=42)

In [39]:
febrero_borough = pd.concat([febrero_manhattan01, febrero_brooklin01, febrero_queens01, febrero_bronx01, febrero_stand01], ignore_index=True)

In [42]:
febrero_borough.to_csv('febrero.csv')

In [40]:
marzo = pd.read_parquet('Taxi/yellow_tripdata_2023-03.parquet')

In [43]:
marzo = pd.merge(marzo, taxi, on='PULocationID')

In [45]:
marzo.drop(['VendorID','passenger_count','RatecodeID','store_and_fwd_flag','PULocationID','DOLocationID','payment_type','extra',
            'mta_tax','tip_amount','tolls_amount','improvement_surcharge','congestion_surcharge','Airport_fee','total_amount'], axis=1, inplace=True)

In [46]:
borough_dataframes = {}
for borough, group in marzo.groupby('PUBorough'):
    borough_dataframes[borough] = group

# Acceder a los DataFrames individuales
manhattan_mar = borough_dataframes['Manhattan']
brooklyn_mar = borough_dataframes['Brooklyn']
queens_mar = borough_dataframes['Queens']
bronx_mar = borough_dataframes['Bronx']
staten_island_mar = borough_dataframes['Staten Island']

In [47]:
marzo_manhattan01 = manhattan_mar.sample(frac=0.01, random_state=42)
marzo_brooklin01 = brooklyn_mar.sample(frac=0.01, random_state=42)
marzo_queens01 = queens_mar.sample(frac=0.01, random_state=42)
marzo_bronx01 = bronx_mar.sample(frac=0.01, random_state=42)
marzo_stand01 = staten_island_mar.sample(frac=0.01, random_state=42)

In [48]:
marzo_borough = pd.concat([marzo_manhattan01, marzo_brooklin01, marzo_queens01, marzo_bronx01, marzo_stand01], ignore_index=True)

In [49]:
marzo_borough.to_csv('marzo.csv')

In [50]:
abril = pd.read_parquet('Taxi/yellow_tripdata_2023-04.parquet')

In [51]:
abril = pd.merge(abril, taxi, on='PULocationID')

In [52]:
abril.drop(['VendorID','passenger_count','RatecodeID','store_and_fwd_flag','PULocationID','DOLocationID','payment_type','extra',
            'mta_tax','tip_amount','tolls_amount','improvement_surcharge','congestion_surcharge','Airport_fee','total_amount'], axis=1, inplace=True)

In [53]:
borough_dataframes = {}
for borough, group in abril.groupby('PUBorough'):
    borough_dataframes[borough] = group

# Acceder a los DataFrames individuales
manhattan_abr = borough_dataframes['Manhattan']
brooklyn_abr = borough_dataframes['Brooklyn']
queens_abr = borough_dataframes['Queens']
bronx_abr = borough_dataframes['Bronx']
staten_island_abr = borough_dataframes['Staten Island']

In [54]:
abril_manhattan01 = manhattan_abr.sample(frac=0.01, random_state=42)
abril_brooklin01 = brooklyn_abr.sample(frac=0.01, random_state=42)
abril_queens01 = queens_abr.sample(frac=0.01, random_state=42)
abril_bronx01 = bronx_abr.sample(frac=0.01, random_state=42)
abril_stand01 = staten_island_abr.sample(frac=0.01, random_state=42)

In [55]:
abril_borough = pd.concat([abril_manhattan01, abril_brooklin01, abril_queens01, abril_bronx01, abril_stand01], ignore_index=True)

In [56]:
abril_borough.to_csv('abril.csv')

In [57]:
mayo = pd.read_parquet('Taxi/yellow_tripdata_2023-05.parquet')

In [58]:
mayo = pd.merge(mayo, taxi, on='PULocationID')

In [59]:
mayo.drop(['VendorID','passenger_count','RatecodeID','store_and_fwd_flag','PULocationID','DOLocationID','payment_type','extra',
            'mta_tax','tip_amount','tolls_amount','improvement_surcharge','congestion_surcharge','Airport_fee','total_amount'], axis=1, inplace=True)

In [60]:
borough_dataframes = {}
for borough, group in mayo.groupby('PUBorough'):
    borough_dataframes[borough] = group

# Acceder a los DataFrames individuales
manhattan_may = borough_dataframes['Manhattan']
brooklyn_may = borough_dataframes['Brooklyn']
queens_may = borough_dataframes['Queens']
bronx_may = borough_dataframes['Bronx']
staten_island_may = borough_dataframes['Staten Island']

In [61]:
mayo_manhattan01 = manhattan_may.sample(frac=0.01, random_state=42)
mayo_brooklin01 = brooklyn_may.sample(frac=0.01, random_state=42)
mayo_queens01 = queens_may.sample(frac=0.01, random_state=42)
mayo_bronx01 = bronx_may.sample(frac=0.01, random_state=42)
mayo_stand01 = staten_island_may.sample(frac=0.01, random_state=42)

In [62]:
mayo_borough = pd.concat([mayo_manhattan01, mayo_brooklin01, mayo_queens01, mayo_bronx01, mayo_stand01], ignore_index=True)

In [69]:
mayo_borough.to_csv('mayuo.csv')

In [63]:
junio = pd.read_parquet('Taxi/yellow_tripdata_2023-06.parquet')

In [64]:
junio = pd.merge(junio, taxi, on='PULocationID')

In [65]:
junio.drop(['VendorID','passenger_count','RatecodeID','store_and_fwd_flag','PULocationID','DOLocationID','payment_type','extra',
            'mta_tax','tip_amount','tolls_amount','improvement_surcharge','congestion_surcharge','Airport_fee','total_amount'], axis=1, inplace=True)

In [66]:
borough_dataframes = {}
for borough, group in junio.groupby('PUBorough'):
    borough_dataframes[borough] = group

# Acceder a los DataFrames individuales
manhattan_jun = borough_dataframes['Manhattan']
brooklyn_jun = borough_dataframes['Brooklyn']
queens_jun = borough_dataframes['Queens']
bronx_jun = borough_dataframes['Bronx']
staten_island_jun = borough_dataframes['Staten Island']

In [67]:
junio_manhattan01 = manhattan_jun.sample(frac=0.01, random_state=42)
junio_brooklin01 = brooklyn_jun.sample(frac=0.01, random_state=42)
junio_queens01 = queens_jun.sample(frac=0.01, random_state=42)
junio_bronx01 = bronx_jun.sample(frac=0.01, random_state=42)
junio_stand01 = staten_island_jun.sample(frac=0.01, random_state=42)

In [68]:
junio_borough = pd.concat([junio_manhattan01, junio_brooklin01, junio_queens01, junio_bronx01, junio_stand01], ignore_index=True)

In [70]:
junio_borough.to_csv('junio.csv')

In [78]:
total = len(enero_borough) + len(febrero_borough) + len(marzo_borough) + len(abril_borough) + len(mayo_borough) + len(junio_borough)

In [82]:
total

192671

In [80]:
dataframes = [enero_borough,febrero_borough,marzo_borough,abril_borough,mayo_borough,junio_borough]

In [81]:
boroughs = pd.concat(dataframes, ignore_index=True)

In [84]:
boroughs.to_csv('boroughs.csv')