In [10]:
import pandas as pd

In [2]:
taxi = pd.read_csv('Taxi/taxi+_zone_lookup.csv')
taxi

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [4]:
taxi = taxi.rename(columns={'LocationID': 'PULocationID', 'Borough': 'PUBorough', 'Zone': 'PUZone'})

In [24]:
enero = pd.read_parquet('Taxi/yellow_tripdata_2023-01.parquet')
enero.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3066766 entries, 0 to 3066765
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: datetime64[ns](2), float64(12), int64(4), object(1)
memory usage: 444.6+ MB

In [25]:
enero = pd.merge(enero, taxi, on='PULocationID')

In [26]:
enero.drop(['VendorID','passenger_count','RatecodeID','store_and_fwd_flag','PULocationID','DOLocationID','payment_type','extra',
            'mta_tax','tip_amount','tolls_amount','improvement_surcharge','congestion_surcharge','airport_fee','total_amount'], axis=1, inplace=True)

In [19]:
conteo_enero = enero['PUBorough'].value_counts()

In [27]:
borough_dataframes = {}
for borough, group in enero.groupby('PUBorough'):
    borough_dataframes[borough] = group

# Acceder a los DataFrames individuales
manhattan_df = borough_dataframes['Manhattan']
brooklyn_df = borough_dataframes['Brooklyn']
queens_df = borough_dataframes['Queens']
bronx_df = borough_dataframes['Bronx']
staten_island_df = borough_dataframes['Staten Island']

In [28]:
enero_manhattan01 = manhattan_df.sample(frac=0.01, random_state=42)
enero_brooklin01 = brooklyn_df.sample(frac=0.01, random_state=42)
enero_queens01 = queens_df.sample(frac=0.01, random_state=42)
enero_bronx01 = bronx_df.sample(frac=0.01, random_state=42)
enero_stand01 = staten_island_df.sample(frac=0.01, random_state=42)

In [29]:
enero_borough = pd.concat([enero_manhattan01, enero_brooklin01, enero_queens01, enero_bronx01, enero_stand01], ignore_index=True)

In [41]:
enero_borough.to_csv('enero.csv')

In [31]:
febrero = pd.read_parquet('Taxi/yellow_tripdata_2023-02.parquet')

In [32]:
febrero = pd.merge(febrero, taxi, on='PULocationID')

In [35]:
febrero.drop(['VendorID','passenger_count','RatecodeID','store_and_fwd_flag','PULocationID','DOLocationID','payment_type','extra',
            'mta_tax','tip_amount','tolls_amount','improvement_surcharge','congestion_surcharge','Airport_fee','total_amount'], axis=1, inplace=True)

In [37]:
borough_dataframes = {}
for borough, group in febrero.groupby('PUBorough'):
    borough_dataframes[borough] = group

# Acceder a los DataFrames individuales
manhattan_feb = borough_dataframes['Manhattan']
brooklyn_feb = borough_dataframes['Brooklyn']
queens_feb = borough_dataframes['Queens']
bronx_feb = borough_dataframes['Bronx']
staten_island_feb = borough_dataframes['Staten Island']

In [38]:
febrero_manhattan01 = manhattan_feb.sample(frac=0.01, random_state=42)
febrero_brooklin01 = brooklyn_feb.sample(frac=0.01, random_state=42)
febrero_queens01 = queens_feb.sample(frac=0.01, random_state=42)
febrero_bronx01 = bronx_feb.sample(frac=0.01, random_state=42)
febrero_stand01 = staten_island_feb.sample(frac=0.01, random_state=42)

In [39]:
febrero_borough = pd.concat([febrero_manhattan01, febrero_brooklin01, febrero_queens01, febrero_bronx01, febrero_stand01], ignore_index=True)

In [42]:
febrero_borough.to_csv('febrero.csv')

In [40]:
marzo = pd.read_parquet('Taxi/yellow_tripdata_2023-03.parquet')

In [43]:
marzo = pd.merge(marzo, taxi, on='PULocationID')

In [45]:
marzo.drop(['VendorID','passenger_count','RatecodeID','store_and_fwd_flag','PULocationID','DOLocationID','payment_type','extra',
            'mta_tax','tip_amount','tolls_amount','improvement_surcharge','congestion_surcharge','Airport_fee','total_amount'], axis=1, inplace=True)

In [46]:
borough_dataframes = {}
for borough, group in marzo.groupby('PUBorough'):
    borough_dataframes[borough] = group

# Acceder a los DataFrames individuales
manhattan_mar = borough_dataframes['Manhattan']
brooklyn_mar = borough_dataframes['Brooklyn']
queens_mar = borough_dataframes['Queens']
bronx_mar = borough_dataframes['Bronx']
staten_island_mar = borough_dataframes['Staten Island']

In [47]:
marzo_manhattan01 = manhattan_mar.sample(frac=0.01, random_state=42)
marzo_brooklin01 = brooklyn_mar.sample(frac=0.01, random_state=42)
marzo_queens01 = queens_mar.sample(frac=0.01, random_state=42)
marzo_bronx01 = bronx_mar.sample(frac=0.01, random_state=42)
marzo_stand01 = staten_island_mar.sample(frac=0.01, random_state=42)

In [48]:
marzo_borough = pd.concat([marzo_manhattan01, marzo_brooklin01, marzo_queens01, marzo_bronx01, marzo_stand01], ignore_index=True)

In [49]:
marzo_borough.to_csv('marzo.csv')

In [50]:
abril = pd.read_parquet('Taxi/yellow_tripdata_2023-04.parquet')

In [51]:
abril = pd.merge(abril, taxi, on='PULocationID')

In [52]:
abril.drop(['VendorID','passenger_count','RatecodeID','store_and_fwd_flag','PULocationID','DOLocationID','payment_type','extra',
            'mta_tax','tip_amount','tolls_amount','improvement_surcharge','congestion_surcharge','Airport_fee','total_amount'], axis=1, inplace=True)

In [53]:
borough_dataframes = {}
for borough, group in abril.groupby('PUBorough'):
    borough_dataframes[borough] = group

# Acceder a los DataFrames individuales
manhattan_abr = borough_dataframes['Manhattan']
brooklyn_abr = borough_dataframes['Brooklyn']
queens_abr = borough_dataframes['Queens']
bronx_abr = borough_dataframes['Bronx']
staten_island_abr = borough_dataframes['Staten Island']

In [54]:
abril_manhattan01 = manhattan_abr.sample(frac=0.01, random_state=42)
abril_brooklin01 = brooklyn_abr.sample(frac=0.01, random_state=42)
abril_queens01 = queens_abr.sample(frac=0.01, random_state=42)
abril_bronx01 = bronx_abr.sample(frac=0.01, random_state=42)
abril_stand01 = staten_island_abr.sample(frac=0.01, random_state=42)

In [55]:
abril_borough = pd.concat([abril_manhattan01, abril_brooklin01, abril_queens01, abril_bronx01, abril_stand01], ignore_index=True)

In [56]:
abril_borough.to_csv('abril.csv')

In [57]:
mayo = pd.read_parquet('Taxi/yellow_tripdata_2023-05.parquet')

In [58]:
mayo = pd.merge(mayo, taxi, on='PULocationID')

In [59]:
mayo.drop(['VendorID','passenger_count','RatecodeID','store_and_fwd_flag','PULocationID','DOLocationID','payment_type','extra',
            'mta_tax','tip_amount','tolls_amount','improvement_surcharge','congestion_surcharge','Airport_fee','total_amount'], axis=1, inplace=True)

In [60]:
borough_dataframes = {}
for borough, group in mayo.groupby('PUBorough'):
    borough_dataframes[borough] = group

# Acceder a los DataFrames individuales
manhattan_may = borough_dataframes['Manhattan']
brooklyn_may = borough_dataframes['Brooklyn']
queens_may = borough_dataframes['Queens']
bronx_may = borough_dataframes['Bronx']
staten_island_may = borough_dataframes['Staten Island']

In [61]:
mayo_manhattan01 = manhattan_may.sample(frac=0.01, random_state=42)
mayo_brooklin01 = brooklyn_may.sample(frac=0.01, random_state=42)
mayo_queens01 = queens_may.sample(frac=0.01, random_state=42)
mayo_bronx01 = bronx_may.sample(frac=0.01, random_state=42)
mayo_stand01 = staten_island_may.sample(frac=0.01, random_state=42)

In [62]:
mayo_borough = pd.concat([mayo_manhattan01, mayo_brooklin01, mayo_queens01, mayo_bronx01, mayo_stand01], ignore_index=True)

In [69]:
mayo_borough.to_csv('mayuo.csv')

In [63]:
junio = pd.read_parquet('Taxi/yellow_tripdata_2023-06.parquet')

In [64]:
junio = pd.merge(junio, taxi, on='PULocationID')

In [65]:
junio.drop(['VendorID','passenger_count','RatecodeID','store_and_fwd_flag','PULocationID','DOLocationID','payment_type','extra',
            'mta_tax','tip_amount','tolls_amount','improvement_surcharge','congestion_surcharge','Airport_fee','total_amount'], axis=1, inplace=True)

In [66]:
borough_dataframes = {}
for borough, group in junio.groupby('PUBorough'):
    borough_dataframes[borough] = group

# Acceder a los DataFrames individuales
manhattan_jun = borough_dataframes['Manhattan']
brooklyn_jun = borough_dataframes['Brooklyn']
queens_jun = borough_dataframes['Queens']
bronx_jun = borough_dataframes['Bronx']
staten_island_jun = borough_dataframes['Staten Island']

In [67]:
junio_manhattan01 = manhattan_jun.sample(frac=0.01, random_state=42)
junio_brooklin01 = brooklyn_jun.sample(frac=0.01, random_state=42)
junio_queens01 = queens_jun.sample(frac=0.01, random_state=42)
junio_bronx01 = bronx_jun.sample(frac=0.01, random_state=42)
junio_stand01 = staten_island_jun.sample(frac=0.01, random_state=42)

In [68]:
junio_borough = pd.concat([junio_manhattan01, junio_brooklin01, junio_queens01, junio_bronx01, junio_stand01], ignore_index=True)

In [70]:
junio_borough.to_csv('junio.csv')

In [78]:
total = len(enero_borough) + len(febrero_borough) + len(marzo_borough) + len(abril_borough) + len(mayo_borough) + len(junio_borough)

In [82]:
total

192671

In [80]:
dataframes = [enero_borough,febrero_borough,marzo_borough,abril_borough,mayo_borough,junio_borough]

In [81]:
boroughs = pd.concat(dataframes, ignore_index=True)

In [84]:
boroughs.to_csv('boroughs.csv')

In [6]:
distritos = pd.read_csv('boroughs.csv')

In [9]:
distritos[distritos['trip_distance'] == 0]

,Unnamed: 0,tpep_pickup_datetime,tpep_dropoff_datetime,trip_distance,fare_amount,PUBorough,PUZone,service_zone
55,55,2023-01-14 19:34:15,2023-01-14 19:51:24,0.0,20.57,Manhattan,Sutton Place/Turtle Bay North,Yellow Zone
129,129,2023-01-16 12:02:37,2023-01-16 12:09:27,0.0,7.20,Manhattan,Union Sq,Yellow Zone
255,255,2023-01-16 11:44:13,2023-01-16 11:44:36,0.0,3.00,Manhattan,Midtown South,Yellow Zone
369,369,2023-01-31 22:38:50,2023-01-31 22:39:19,0.0,79.99,Manhattan,Times Sq/Theatre District,Yellow Zone
465,465,2023-01-10 09:53:49,2023-01-10 10:09:01,0.0,13.03,Manhattan,East Harlem South,Boro Zone
...,...,...,...,...,...,...,...,...
192647,192647,2023-06-06 23:26:38,2023-06-07 00:03:05,0.0,31.20,Bronx,West Concourse,Boro Zone
192652,192652,2023-06-02 06:19:17,2023-06-02 07:07:20,0.0,46.50,Bronx,Bedford Park,Boro Zone
192656,192656,2023-06-20 07:33:31,2023-06-20 08:14:47,0.0,33.20,Bronx,Kingsbridge Heights,Boro Zone
192657,192657,2023-06-26 13:56:15,2023-06-26 15:25:23,0.0,61.50,Bronx,Melrose South,Boro Zone
192669,192669,2023-06-24 07:21:45,2023-06-24 08:12:34,0.0,67.20,Staten Island,Charleston/Tottenville,Boro Zone

In [8]:
distritos = distritos[(distritos['fare_amount'] > 0) & (distritos['trip_distance'] > 0) ]

In [24]:
distritos.to_csv('distritos.csv')

In [20]:
distritos = pd.read_csv('distritos.csv')

In [21]:
distritos = distritos[(distritos['trip_distance'] >= 1) & (distritos['trip_distance'] <= 60)]

In [22]:
distritos = distritos[(distritos['fare_amount'] >= 10) & (distritos['fare_amount'] <= 300)]

In [23]:
distritos

,Unnamed: 0.1,Unnamed: 0,tpep_pickup_datetime,tpep_dropoff_datetime,trip_distance,fare_amount,PUBorough,PUZone,service_zone
0,0,0,2023-01-11 09:24:21,2023-01-11 09:33:29,1.12,10.0,Manhattan,UN/Turtle Bay South,Yellow Zone
1,1,1,2023-01-24 18:07:09,2023-01-24 18:28:29,2.85,20.5,Manhattan,Midtown Center,Yellow Zone
3,3,3,2023-01-19 16:38:52,2023-01-19 16:55:28,2.10,17.0,Manhattan,Midtown East,Yellow Zone
4,4,4,2023-01-15 13:51:17,2023-01-15 14:01:54,1.21,10.7,Manhattan,Union Sq,Yellow Zone
5,5,5,2023-01-12 17:25:44,2023-01-12 17:48:50,3.57,22.6,Manhattan,Upper West Side North,Yellow Zone
...,...,...,...,...,...,...,...,...,...
188680,192664,192664,2023-06-27 08:28:02,2023-06-27 09:00:09,7.10,32.5,Bronx,Woodlawn/Wakefield,Boro Zone
188681,192665,192665,2023-06-30 13:40:38,2023-06-30 14:06:19,1.80,18.5,Bronx,West Farms/Bronx River,Boro Zone
188682,192666,192666,2023-06-28 13:56:51,2023-06-28 14:17:49,3.30,25.5,Bronx,Hunts Point,Boro Zone
188683,192667,192667,2023-06-26 06:03:37,2023-06-26 06:33:43,6.40,40.5,Bronx,Melrose South,Boro Zone
188684,192668,192668,2023-06-26 05:33:35,2023-06-26 06:20:28,20.30,60.5,Staten Island,South Beach/Dongan Hills,Boro Zone

In [25]:
distritosT = pd.read_csv('distritos.csv')

In [26]:
distritosT.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131377 entries, 0 to 131376
Data columns (total 10 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0.2           131377 non-null  int64
 1   Unnamed: 0.1           131377 non-null  int64
 2   Unnamed: 0             131377 non-null  int64
 3   tpep_pickup_datetime   131377 non-null  object
 4   tpep_dropoff_datetime  131377 non-null  object
 5   trip_distance          131377 non-null  float64
 6   fare_amount            131377 non-null  float64
 7   PUBorough              131377 non-null  object
 8   PUZone                 131377 non-null  object
 9   service_zone           131377 non-null  object
dtypes: float64(2), int64(3), object(5)
memory usage: 10.0+ MB

In [29]:
distritosT['tpep_pickup_datetime'] = pd.to_datetime(distritosT['tpep_pickup_datetime'])
distritosT['tpep_dropoff_datetime'] = pd.to_datetime(distritosT['tpep_dropoff_datetime'])

In [30]:
distritosT['duracion'] = (distritosT['tpep_dropoff_datetime'] - distritosT['tpep_pickup_datetime']).dt.total_seconds().astype(int)

distritosT['tiempo'] = distritosT['duracion'].apply(lambda x: '{:02d}:{:02d}:{:02d}'.format(x // 3600, (x % 3600) // 60, x % 60))

In [36]:
distritosT.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131377 entries, 0 to 131376
Data columns (total 16 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0.2           131377 non-null  int64
 1   Unnamed: 0.1           131377 non-null  int64
 2   Unnamed: 0             131377 non-null  int64
 3   tpep_pickup_datetime   131377 non-null  datetime64[ns]
 4   tpep_dropoff_datetime  131377 non-null  datetime64[ns]
 5   trip_distance          131377 non-null  float64
 6   fare_amount            131377 non-null  float64
 7   PUBorough              131377 non-null  object
 8   PUZone                 131377 non-null  object
 9   service_zone           131377 non-null  object
 10  duracion               131377 non-null  int32
 11  tiempo                 131377 non-null  object
 12  hora                   131377 non-null  int64
 13  minuto                 131377 non-null  int64
 14  segundo                131377 non-null  int64
 15  duracion_segundos      131377 non-null  int64
dtypes: datetime64[ns](2), float64(2), int32(1), int64(7), object(4)
memory usage: 15.5+ MB

In [34]:
distritosT[['hora', 'minuto', 'segundo']] = distritosT['tiempo'].str.split(':').apply(lambda x: pd.Series(map(int, x)))

distritosT['duracion_segundos'] = distritosT['hora'] * 3600 + distritosT['minuto'] * 60 + distritosT['segundo']

In [38]:
distritosT.drop(['Unnamed: 0.2','Unnamed: 0.1','Unnamed: 0','tpep_pickup_datetime','tpep_dropoff_datetime','PUBorough','PUZone','service_zone','duracion'],axis=1, inplace=True)

In [40]:
distritosT.to_csv('borou_tiempo.csv')